/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        year: year {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_2 &kp NUMBER_4>;
            label = "YEAR";
        };

        trash: trash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LGUI &kp BACKSPACE>;
            label = "TRASH";
        };

        new_tab: new_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LGUI &kp T>;
            label = "NEW_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&to 1      &kp Q  &kp W  &kp E      &kp R      &kp T       &kp Y    &kp U     &kp I      &kp O    &kp P     &tog 2
&kp TAB    &kp A  &kp S  &kp D      &kp F      &kp G       &kp H    &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C      &kp V      &kp B       &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &sk LCTRL  &kp SPACE  &sk LGUI    &kp RET  &kp BSPC  &sk LCTRL
            >;
        };

        layer_1 {
            bindings = <
&trans    &trans    &kp UP    &year      &trans     &trash    &trans  &trans  &trans  &trans  &trans  &trans
&trans    &kp LEFT  &kp DOWN  &kp RIGHT  &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&new_tab  &trans    &trans    &kp Z      &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                              &trans     &kp SPACE  &trans    &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&kp GRAVE  &kp N1        &kp N2    &kp N3     &kp N4        &kp N5       &kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &trans
&trans     &kp N6        &kp N7    &kp N8     &kp N9        &kp N0       &kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &kp CAPS
&trans     &kp LS(STAR)  &kp FSLH  &kp MINUS  &kp LS(PLUS)  &kp EQUAL    &kp F11  &kp F12  &trans  &trans  &trans   &trans
                                   &trans     &trans        &trans       &trans   &trans   &trans
            >;
        };
    };
};
