/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        bill4time: bill4time {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(C) &kp O &kp N &kp F &kp I &kp R &kp M &kp E &kp D &kp SPACE &kp A &kp N &kp D &kp SPACE &kp V &kp E &kp R &kp I &kp F &kp I &kp E &kp D>;
            label = "bill4time";
        };

        p4: p4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp N4>;
            label = "p4";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        custom {
            bindings = <
&mt C_AC_NEXT_KEYBOARD_LAYOUT_SELECT TAB  &kp Q  &kp W  &kp E     &kp R        &kp T          &kp Y                  &kp U      &kp I          &kp O    &kp P     &kp DELETE
&kp ENTER                                 &kp A  &kp S  &kp D     &kp F        &kp G          &kp H                  &kp J      &kp K          &kp L    &kp SEMI  &kp SQT
&kp LSHFT                                 &kp Z  &kp X  &kp C     &kp V        &kp B          &kp N                  &kp M      &kp COMMA      &kp DOT  &kp FSLH  &mt LEFT_ALT ESCAPE
                                                        &kp LGUI  &lt 2 MINUS  &lt 1 EQUAL    &mt LEFT_CONTROL EXCL  &kp SPACE  &kp BACKSPACE
            >;
        };

        num_n_fxn {
            bindings = <
&trans  &kp N1     &kp N2     &kp N3         &kp N4    &kp N5      &kp F1        &kp F2  &kp F3  &kp F4   &kp F5   &kp F6
&trans  &kp N6     &kp N7     &kp N8         &kp N9    &kp N0      &kp F7        &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &sk GLOBE  &kp GRAVE  &kp BACKSLASH  &kp LBKT  &kp RBKT    &kp CAPSLOCK  &trans  &trans  &trans   &trans   &trans
                              &trans         &trans    &trans      &trans        &trans  &trans
            >;
        };

        Nav {
            bindings = <
&kp LG(TAB)  &trans        &kp LG(LEFT_BRACKET)  &kp UP    &kp LG(RIGHT_BRACKET)  &kp PAGE_UP      &trans      &trans        &trans        &trans        &trans  &trans
&trans       &kp LGUI      &kp LEFT              &kp DOWN  &kp RIGHT              &kp PAGE_DOWN    &trans      &kp R         &kp V         &kp N         &kp O   &trans
&trans       &kp LS(LGUI)  &kp HOME              &kp Z     &kp END                &trans           &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans
                                                 &trans    &trans                 &trans           &trans      &trans        &trans
            >;
        };
    };
};
