/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R        &kp T          &kp Y             &kp U      &kp I       &kp O    &kp P     &kp DELETE
&kp ENTER  &kp A  &kp S  &kp D     &kp F        &kp G          &kp H             &kp J      &kp K       &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V        &kp B          &kp N             &kp M      &kp COMMA   &kp DOT  &kp FSLH  &gresc
                         &sk LGUI  &lt 2 MINUS  &lt 1 EQUAL    &sk LEFT_CONTROL  &kp SPACE  &kp DELETE
            >;
        };

        num_n_fxn {
            bindings = <
&trans  &mt LS(N1) NUMBER_1  &mt LS(N2) NUMBER_2  &mt LS(N3) NUMBER_3          &mt LS(N4) NUMBER_4        &mt LS(N5) N5                 &kp F1        &kp F2  &kp F3  &kp F4   &kp F5   &kp F6
&trans  &mt LS(N6) NUMBER_6  &mt LS(N7) N7        &mt LS(N8) N8                &mt LS(N9) N9              &mt LS(N0) N0                 &kp F7        &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans               &mt LS(GRAVE) GRAVE  &mt LS(BACKSLASH) BACKSLASH  &mt LS(LBKT) LEFT_BRACKET  &mt LS(RBKT) RIGHT_BRACKET    &kp LEFT_ALT  &trans  &trans  &trans   &trans   &sk CAPSLOCK
                                                  &trans                       &trans                     &trans                        &trans        &trans  &trans
            >;
        };

        Nav {
            bindings = <
&trans  &kp PG_UP     &kp LG(LEFT_BRACKET)  &kp UP    &kp LG(RIGHT_BRACKET)  &kp PG_DN    &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp LGUI      &kp LEFT              &kp DOWN  &kp RIGHT              &trans       &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&trans  &kp LS(LGUI)  &kp HOME              &kp Z     &kp END                &trans       &trans        &trans        &trans        &trans        &trans        &trans
                                            &trans    &trans                 &trans       &trans        &trans        &trans
            >;
        };
    };
};
